---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app suwayomi
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 6470
        runAsGroup: 6470
        fsGroup: 6470
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    controllers:
      suwayomi:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/suwayomi/tachidesk
              tag: v2.1.2071@sha256:f9e2f9fd4ed43181f6e9ed890ec8c5e79048e388ddee00e924dc7e86b79170ca
            env:
              TZ: ${TZ}
              BIND_PORT: &port 4567
              WEB_UI_CHANNEL: "preview"
              AUTO_DOWNLOAD_CHAPTERS: true
              UPDATE_EXCLUDE_UNREAD: "false"
              UPDATE_EXCLUDE_STARTED: "false"
              UPDATE_EXCLUDE_COMPLETED: "false"
              DOWNLOAD_AS_CBZ: "true"
              EXTENSION_REPOS: '["https://raw.githubusercontent.com/keiyoushi/extensions/repo/index.min.json"]'
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 2000Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${LOCAL_DOMAIN}"
        rules:
          - backendRefs:
              - port: *port
                name: *app

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /home/suwayomi/.local/share/Tachidesk

      media:
        enabled: true
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/STORAGE-01/Media-Storage/manga
        globalMounts:
          - path: /home/suwayomi/.local/share/Tachidesk/downloads/mangas