---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dispatcharr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controllers:
      dispatcharr:
        initContainers:
          chown-dbdir:
            image:
              repository: docker.io/library/alpine
              tag: "3.23"
            command:
              - /bin/sh
              - -c
            args:
              - |
                mkdir -p /data/db
                chmod 0750 /data/db
            securityContext:
              runAsUser: 0
        containers:
          app:
            image:
              repository: ghcr.io/dispatcharr/dispatcharr
              tag: 0.15.1@sha256:660f32646a48b766b71b93b0d25608a851428872f70f1933a33c75a8bb3a189e
            env:
              CELERY_BROKER_URL: redis://localhost:6379/0
              DISPATCHARR_ENV: aio
              DISPATCHARR_LOG_LEVEL: info
              DISPATCHARR_PORT: &port 9191
              REDIS_HOST: localhost
            resources:
              requests:
                cpu: 50m
                memory: 1Gi
                nvidia.com/gpu: 1
              limits:
                memory: 3Gi
                nvidia.com/gpu: 1

    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: *port

    persistence:
      data:
        existingClaim: dispatcharr
        advancedMounts:
          dispatcharr:
            app:
              - path: /data
                subPath: data
            chown-dbdir:
              - path: /data
                subPath: data

      tmpfs:
        type: emptyDir
        advancedMounts:
          dispatcharr:
            app:
              - path: /tmp
                subPath: tmp

    route:
      app:
        enabled: true
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Dispatcharr
          gethomepage.dev/description: IPTV management and automation tool
          gethomepage.dev/group: Applications
          gethomepage.dev/icon: dispatcharr.svg
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "dispatcharr.${LOCAL_DOMAIN}"
        rules:
          - backendRefs:
              - port: *port
                name: dispatcharr
