---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: shelfmark
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: shelfmark-secret
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        # Bootstrap
        FLASK_PORT: "8084"
        SESSION_COOKIE_SECURE: "false"
        PUID: "1000"
        PGID: "1000"

        # Network
        CUSTOM_DNS: "system"

        # General
        CALIBRE_WEB_URL: "https://booklore.local.solonsstuff.com"
        AUDIOBOOK_LIBRARY_URL: "https://audiobookshelf.local.solonsstuff.com"
        SUPPORTED_FORMATS: "epub,cbz,cbr,pdf,zip,rar,"
        SUPPORTED_AUDIOBOOK_FORMATS: "m4b,zip,rar,"
        BOOK_LANGUAGE: "en"

        # Search mode
        SEARCH_MODE: "universal"
        AA_DEFAULT_SORT: "relevance"
        METADATA_PROVIDER: "openlibrary"
        METADATA_PROVIDER_AUDIOBOOK: "openlibrary"
        DEFAULT_RELEASE_SOURCE: "direct_download"

        # Prowlarr
        PROWLARR_ENABLED: "true"
        PROWLARR_URL: "https://prowlarr.local.solonsstuff.com"
        PROWLARR_API_KEY: "{{ .PROWLARR__API_KEY }}"
        PROWLARR_AUTO_EXPAND: "true"

        # Download clients
        PROWLARR_TORRENT_CLIENT: "qbittorrent"
        QBITTORRENT_URL: "https://qbittorrent.local.solonsstuff.com"
        QBITTORRENT_USERNAME: "{{ .QBITTORRENT__USERNAME }}"
        QBITTORRENT_PASSWORD: "{{ .QBITTORRENT__PASSWORD }}"
        QBITTORRENT_CATEGORY: "booklore"
        QBITTORRENT_CATEGORY_AUDIOBOOK: "audiobookshelf"

        # Downloads
        BOOKS_OUTPUT_MODE: "booklore"
        INGEST_DIR: "/downloads/shelfmark-ingest/books"
        FILE_ORGANIZATION: "rename"
        TEMPLATE_RENAME: "{Author} - {Title} ({Year})"
        TEMPLATE_ORGANIZE: "{Author}/{Title} ({Year})"
        HARDLINK_TORRENTS: "true"
        BOOKLORE_HOST: "https://booklore.local.solonsstuff.com"
        BOOKLORE_USERNAME: "{{ .BookloreUsername }}"
        BOOKLORE_PASSWORD: "{{ .BooklorePassword }}"
        # BOOKLORE_LIBRARY_ID: "books" # This is probably easier to setup in the app, I tried about a dozen variations of this with no dice
        # BOOKLORE_PATH_ID: "books: /books"
        DESTINATION_AUDIOBOOK: "/downloads/shelfmark-ingest/audiobooks"
        FILE_ORGANIZATION_AUDIOBOOK: "organize"
        TEMPLATE_AUDIOBOOK_RENAME: "{Title}"
        TEMPLATE_AUDIOBOOK_ORGANIZE: "{Author}/{Series}/{Title}/{SeriesPosition} - {Year} - {Title}"
        HARDLINK_TORRENTS_AUDIOBOOK: "true"
        AUTO_OPEN_DOWNLOADS_SIDEBAR: "true"
        MAX_CONCURRENT_DOWNLOADS: "3"
        STATUS_TIMEOUT: "3600"

        # Direct downloads
        MAX_RETRY: "10"
        DEFAULT_SLEEP: "5"

        # Cloudflare Bypass
        USE_CF_BYPASSER: "true"
        USING_EXTERNAL_BYPASSER: "true"
        EXT_BYPASSER_URL: "http://flaresolverr.home-media.svc.cluster.local:8191"
        EXT_BYPASSER_PATH: "/v1"
        EXT_BYPASSER_TIMEOUT: "60000"

        # Metadata providers
        HARDCOVER_ENABLED: "true"
        HARDCOVER_API_KEY: "{{ .HardcoverApiKey }}"
        HARDCOVER_DEFAULT_SORT: "relevance"
        HARDCOVER_EXCLUDE_COMPILATIONS: "false"
        HARDCOVER_EXCLUDE_UNRELEASED: "false"
        OPENLIBRARY_ENABLED: "true"
        OPENLIBRARY_DEFAULT_SORT: "relevance"
        GOOGLEBOOKS_ENABLED: "false"

  dataFrom:
    - extract:
        key: shelfmark
    - extract:
        key: prowlarr
    - extract:
        key: homepage # This happens to have my qbittorent settings conveniently
