---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app open-webui
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: v0.6.36@sha256:dfe43b30a5474164b1a81e1cce298a6769bb22144f74df556beefee4ccca5394
            env:
              ENABLE_OPENAI_API: True
              ENABLE_OLLAMA_API: False
              ENABLE_RAG_WEB_SEARCH: true
              ENABLE_SEARCH_QUERY: true
              RAG_WEB_SEARCH_ENGINE: searxng
              SEARXNG_QUERY_URL: http://searxng.ai.svc.cluster.local:8080/search?q=<query>
              ENABLE_WEBSOCKET_SUPPORT: "true"
              WEBSOCKET_MANAGER: "redis"
              WEBSOCKET_REDIS_URL: redis://dragonfly.databases.svc.cluster.local:6379
            envFrom:
              - secretRef:
                  name: open-webui-secret
              - secretRef:
                  name: open-webui-db-secret
            resources:
              requests:
                cpu: 500m
              limits:
                memory: 2Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8080

    ingress:
      # Legacy ingress for internal access (will remove in future)
      internal:
        className: internal
        hosts:
          - host: "ai.${LOCAL_DOMAIN}"
            paths: &paths
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *app
      
      # Ingress for external access
      external:
        className: external
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Open WebUI
          gethomepage.dev/description: A web UI for interacting with LLMs
          gethomepage.dev/group: Applications
          gethomepage.dev/icon: open-webui.png
          gethomepage.dev/pod-selector: app.kubernetes.io/name=open-webui
          # Point to DDNS domain
          external-dns.alpha.kubernetes.io/target: ipv4.${REMOTE_DOMAIN}
        hosts:
          - host: "ai.${REMOTE_DOMAIN}"
            paths: *paths
        tls:
          - hosts:
              - *app

    route:
      # Legacy route for internal access
      internal:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "ai.${LOCAL_DOMAIN}"
        rules:
          - backendRefs:
              - port: *port
                name: *app
      
      # Route for external access
      external:
        enabled: true
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Open WebUI
          gethomepage.dev/description: A web UI for interacting with LLMs
          gethomepage.dev/group: Applications
          gethomepage.dev/icon: open-webui.png
          gethomepage.dev/pod-selector: app.kubernetes.io/name=open-webui
          external-dns.alpha.kubernetes.io/target: ipv4.${REMOTE_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        hostnames:
          - "ai.${REMOTE_DOMAIN}"
        rules:
          - backendRefs:
              - port: *port
                name: *app

    persistence:
      config:
        enabled: true
        existingClaim: open-webui-config
        globalMounts:
          - path: /app/backend/data
