---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app audiobookshelf
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      audiobookshelf:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/advplyr/audiobookshelf
              tag: 2.32.1@sha256:a52dc5db694a5bf041ce38f285dd6c6a660a4b1b21e37ad6b6746433263b2ae5
            env:
              TZ: ${TZ}
              AUDIOBOOKSHELF_UID: 2000
              AUDIOBOOKSHELF_GID: 2000
              CONFIG_PATH: /config
              METADATA_PATH: /config/metadata
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probe
              startup: *probe
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 1.5Gi

    service:
      app:
        ports:
          http:
            port: 80

    route:
      app:
        enabled: true
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Audiobookshelf
          gethomepage.dev/description: Audiobook and podcast server
          gethomepage.dev/group: Applications
          gethomepage.dev/icon: audiobookshelf.png
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "audiobookshelf.${LOCAL_DOMAIN}"

    persistence:
      config:
        enabled: true
        existingClaim: audiobookshelf-config
        advancedMounts:
          audiobookshelf:
            app:
              - path: /config
      tmpfs:
        enabled: true
        type: emptyDir
        advancedMounts:
          audiobookshelf:
            app:
              - path: /.npm
                subPath: cache
              - path: /metadata/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
      media:
        enabled: true
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/STORAGE-01/Media-Storage/media
        advancedMounts:
          audiobookshelf:
            app:
              - path: /books
                subPath: books
