---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: speedtest-tracker
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: speedtest-tracker-secret
    template:
      engineVersion: v2
      data:
        # App
        APP_KEY: '{{ .app_key }}'
  dataFrom:
    - extract:
        key: speedtest-tracker

---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: speedtest-tracker-db
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: crunchy-pgo-secrets
  target:
    name: speedtest-tracker-db-secret
    template:
      engineVersion: v2
      data:
        DB_DATABASE: '{{ index . "dbname" }}'
        DB_HOST: '{{ index . "host" }}'
        DB_USERNAME: '{{ index . "user" }}'
        DB_PASSWORD: '{{ index . "password" }}'
        DB_PORT: '{{ index . "port" }}'
        DB_CONNECTION: 'pgsql'

  dataFrom:
    - extract:
        key: postgres-pguser-speedtest-tracker
