---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app speedtest-tracker
  namespace: monitoring
spec:
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controllers:
      speedtest-tracker:
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/speedtest-tracker
              tag: 1.12.2@sha256:8f4fc9645a6cfcc8d4bf9afb8f1b40bbe5504903d3d3b1253512dc239bc86e3d
            envFrom:
              - secretRef:
                  name: speedtest-tracker-db-secret
              - secretRef:
                  name: speedtest-tracker-secret
            env:
              - name: DISPLAY_TIMEZONE
                value: "${TZ}"
              - name: SPEEDTEST_SCHEDULE
                value: "0 */6 * * *" # Run every 6 hours
              - name: PRUNE_RESULTS_OLDER_THAN
                value: "30" # Keep results for 30 days
              - name: PUBLIC_DASHBOARD
                value: "true"
            resources:
              limits:
                memory: 256Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 80

    route:
      app:
        enabled: true
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Speedtest Tracker
          gethomepage.dev/description: Time-series speedtest tracking
          gethomepage.dev/group: Applications
          gethomepage.dev/icon: speedtest-tracker.png
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${LOCAL_DOMAIN}"
        rules:
          - backendRefs:
              - port: 80
                name: *app
