---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app speedtest-tracker
  namespace: monitoring
spec:
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controllers:
      speedtest-tracker:
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/speedtest-tracker
              tag: 1.7.4@sha256:ab64ba354e6934973911d714418041ed77422d24146c64ab4e03d54f00f16bed
            envFrom:
              - secretRef:
                  name: speedtest-tracker-db-secret
              - secretRef:
                  name: speedtest-tracker-secret
            env:
              - name: DISPLAY_TIMEZONE
                value: "${TZ}"
              - name: SPEEDTEST_SCHEDULE
                value: "0 */6 * * *" # Run every 6 hours
              - name: PRUNE_RESULTS_OLDER_THAN
                value: "30" # Keep results for 30 days
              - name: PUBLIC_DASHBOARD
                value: "true"
            resources:
              limits:
                memory: 256Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 80

    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Speedtest Tracker
          gethomepage.dev/description: Time-series speedtest tracking
          gethomepage.dev/group: Applications
          gethomepage.dev/icon: speedtest-tracker.png
        hosts:
          - host: &host "{{ .Release.Name }}.${LOCAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
