---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app seerr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      seerr:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/seerr-team/seerr
              tag: develop@sha256:c01cece185c076e3f75326c927d5201224b15d8442c780ded5365b725d6ab741
            env:
              TZ: ${TZ}
              LOG_LEVEL: "info"
              PORT: &port 80
            envFrom:
              - secretRef:
                  name: seerr-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 2000Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: ipv4.${REMOTE_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        hostnames:
          - "seerr.${REMOTE_DOMAIN}"
        rules:
          - backendRefs:
              - port: *port
                name: *app

    persistence:
      config:
        enabled: true
        existingClaim: seerr-config
        globalMounts:
          - path: /app/config

      config-cache:
        enabled: true
        existingClaim: seerr-config-cache
        globalMounts:
          - path: /app/config/cache

      config-logs:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /app/config/logs

      tmp:
        enabled: true
        type: emptyDir
