---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: tailscale-operator
      version: 1.92.5
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: tailscale
        namespace: flux-system
  values:
    installCRDs: true
    operatorConfig:
      hostname: "home-cluster-tailscale-operator"
    apiServerProxyConfig:
      mode: "false"