---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komga
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
      
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: &uid 6470
        runAsGroup: &gid 6470
        fsGroup: 6470
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    controllers:
      komga:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/gotson/komga
              tag: "1.24.1@sha256:a84a0424e2f8235ba9373ed10b9b903e0feecdbb500a1b4aebac01f08e9e57db"
            env:
              TZ: ${TZ}
              UID: *uid
              GID: *gid
              KOMGA_CONFIGDIR: /config
              SERVER_PORT: &port 8080
            resources:
              requests:
                cpu: 15m
                memory: 1Gi
              limits:
                memory: 4Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${LOCAL_DOMAIN}"
        rules:
          - backendRefs:
              - port: *port
                name: *app

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /config

      config:
        type: secret
        name: komga-secret
        defaultMode: 0400
        globalMounts:
          - subPath: application.yml
            path: /config/application.yml

      media:
        enabled: true
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/STORAGE-01/Media-Storage/manga
        globalMounts:
          - path: /media
