---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: calibre-web-automated
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 4.6.1
  url: oci://ghcr.io/bjw-s-labs/helm/app-template
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-web-automated
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: calibre-web-automated
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        runAsNonRoot: false
        seccompProfile: { type: RuntimeDefault }
    controllers:
      calibre-web-automated:
        containers:
          app:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: V3.1.4@sha256:577e846f104fd21453ef306eefb4a95dd95b3b9ddd2463a150944494284da0fd
            env:
              CACHE_DIR: /cache
              # Skips/soft fail on privileged actions that shouldn't exist anyways
              NETWORK_SHARE_MODE: true
              S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES: 1
              S6_READ_ONLY_ROOT: 1
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
                add:
                  # S6
                  - CHOWN
                  - SETUID
                  - SETGID
                  - FOWNER
                  - DAC_OVERRIDE
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: &port 8083
                    path: /login
              readiness: *probes
            resources:
              requests:
                cpu: 50m
                memory: 200Mi
              limits:
                memory: 600Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Calibre Web
          gethomepage.dev/description: Calibre Web - Calibre book server
          gethomepage.dev/group: Applications
          gethomepage.dev/icon: calibre-web.svg
        hostnames: ["calibre.${LOCAL_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: calibre-web-automated
                port: 8083

    persistence:
      config:
        existingClaim: calibre-web
        advancedMounts:
          calibre-web-automated:
            app:
              - path: /config
      ingest:
        enabled: true
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/STORAGE-01/Media-Storage/downloads/shelfmark-ingest/books
        globalMounts:
          - path: /cwa-book-ingest
      library:
        enabled: true
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/STORAGE-01/Media-Storage/books
        globalMounts:
          - path: /library
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /cache
            subPath: cache
          - path: /tmp
            subPath: tmp
          - path: /run
            subPath: run
      