---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: authentik
spec:
  interval: 15m
  url: https://charts.goauthentik.io/

---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.10.1
      sourceRef:
        kind: HelmRepository
        name: authentik
      interval: 5m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: authentik-secret, authentik-db-secret
      deploymentStrategy:
        type: RollingUpdate
      envFrom:
        - secretRef:
            name: authentik-secret
        - secretRef:
            name: authentik-db-secret

    server:
      replicas: 1

      route:
      app:
        hostnames:
          - sso.${REMOTE_DOMAIN}
        annotations:
          external-dns.alpha.kubernetes.io/target: ipv4.solonsstuff.com
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Authentik
          gethomepage.dev/description: Identity provider and access management
          gethomepage.dev/group: Applications
          gethomepage.dev/icon: authentik.png
          gethomepage.dev/pod-selector: app.kubernetes.io/name=authentik
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80
