---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app stationeers-server
  namespace: flux-system
spec:
  path: "./kubernetes/apps/stationeers/stationeers/app"
  targetNamespace: stationeers
  prune: true
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
        optional: false
