---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app otterwiki
  namespace: flux-system
spec:
  targetNamespace: colwiki
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: "./kubernetes/projects/colwiki/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
        optional: false
