---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- ./Shadow-Empire-PBEM-Bot-1/install.yaml
- ./Shadow-Empire-PBEM-Bot-2/install.yaml
- ./Shadow-Empire-PBEM-Bot-3/install.yaml