---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app garage
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controllers:
      garage:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: dxflrs/garage
              tag: v2.1.0@sha256:4c9b34c113e61358466e83fd6e7d66e6d18657ede14b776eb78a93ee8da7cf6a
            env:
              TZ: "${TZ}"
            envFrom:
              - secretRef:
                  name: garage
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 512Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        annotations:
          tailscale.com/expose: "true"
          tailscale.com/hostname: "solons-garage"
        ports:
          s3:
            port: &port 3900
          rpc:
            port: 3901
          api:
            port: 3903

    route:
      api:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "garage.${LOCAL_DOMAIN}"
        rules:
          - backendRefs:
              - port: 3903
                name: *app
      s3:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "s3.${LOCAL_DOMAIN}"
        rules:
          - backendRefs:
              - port: 3900
                name: *app

    configMaps:
      config:
        data:
          configuration.toml: |
            metadata_dir = "/meta"
            data_dir = "/data"
            db_engine = "lmdb"
            metadata_auto_snapshot_interval = "6h"

            replication_factor = 1
            compression_level = 2

            rpc_bind_addr = "[::]:3901"
            rpc_public_addr = "solons-garage.tail73923.ts.net:3901"

            [s3_api]
            s3_region = "us-east-1"
            api_bind_addr = "[::]:3900"
            root_domain = ".s3.${LOCAL_DOMAIN}"

            [admin]
            api_bind_addr = "[::]:3903"

    persistence:
      config:
        enabled: true
        type: configMap
        name: garage
        globalMounts:
          - path: /etc/garage.toml
            subPath: configuration.toml
      data:
        type: nfs
        server: "${TRUENAS_IP}"
        path: /mnt/STORAGE-01/Garage-Data
        globalMounts:
          - path: /data
      meta:
        type: nfs
        server: "${TRUENAS_IP}"
        path: /mnt/STORAGE-01/Garage-Meta
        globalMounts:
          - path: /meta
