apiVersion: v1
kind: Service
metadata:
  name: kubernetes-api-lb
  namespace: kube-system
  annotations:
    io.cilium/lb-ipam-ips: 192.168.5.100
  labels:
    component: kube-apiserver
    tier: control-plane
spec:
  type: LoadBalancer
  selector:
    component: kube-apiserver
    tier: control-plane
  ports:
  - name: https
    port: 6443
    protocol: TCP
    targetPort: 6443