---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app garage-webui
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      garage-webui:
        annotations:
          secret.reloader.stakater.com/reload: garage
        containers:
          app:
            image:
              repository: khairul169/garage-webui
              tag: 1.1.0@sha256:17c793551873155065bf9a022dabcde874de808a1f26e648d4b82e168806439c
            env:
              API_BASE_URL: http://garage.garage.svc.cluster.local:3903
              S3_ENDPOINT_URL: http://garage.garage.svc.cluster.local:3900
              API_ADMIN_KEY:
                valueFrom:
                  secretKeyRef:
                    name: garage
                    key: GARAGE_ADMIN_TOKEN
            envFrom:
              - secretRef:
                  name: garage
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
    service:
      app:
        ports:
          http:
            port: &port 3909
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          # Authentik
          nginx.ingress.kubernetes.io/auth-url: |-
            http://ak-outpost-authentik-embedded-outpost.authentik.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx
          nginx.ingress.kubernetes.io/auth-signin: |-
            https://garage.${LOCAL_DOMAIN}/outpost.goauthentik.io/start?rd=$scheme://$http_host$escaped_request_uri
          nginx.ingress.kubernetes.io/auth-response-headers: |-
            Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-entitlements,X-authentik-email,X-authentik-name,X-authentik-uid
          nginx.ingress.kubernetes.io/auth-snippet: |
            proxy_set_header X-Forwarded-Host $http_host;
          # Homepage
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Garage WebUI
          gethomepage.dev/description: S3 Object Storage
          gethomepage.dev/group: Applications
          gethomepage.dev/icon: garage.svg
        hosts:
          - host: &host garage.${LOCAL_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        type: configMap
        name: garage
        globalMounts:
          - path: /etc/garage.toml
            subPath: configuration.toml
