---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: spegel
  namespace: kube-system
spec:
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: spegel
  path: "./kubernetes/infra/spegel/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m