---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 30m
  chart:
    spec:
      chart: longhorn
      version: 1.10.1
      sourceRef:
        kind: HelmRepository
        name: longhorn-repo
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    annotations:
      reloader.stakater.com/auto: "true"
    defaultBackupStore:
      backupTarget: s3://longhorn@us-east-1/
      backupstorePollInterval: 300
      backupTargetCredentialSecret: garage-s3-secret
    defaultSettings:
      defaultReplicaCount: "3"
      createDefaultDiskLabeledNodes: true
      restoreVolumeRecurringJobs: true
      storageOverProvisioningPercentage: "100"
      storageMinimalAvailablePercentage: "1"
      guaranteedEngineManagerCPU: "20"
      guaranteedReplicaManagerCPU: "20"
      orphanAutoDeletion: true
      concurrentAutomaticEngineUpgradePerNodeLimit: "3"
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      taintToleration: CriticalAddonsOnly:Exists; node-role.kubernetes.io/control-plane:NoSchedule
    longhornDriver:
      tolerations: &tolerations
        - key: CriticalAddonsOnly
          operator: Exists
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
    longhornManager:
      tolerations: *tolerations
