---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  values:
    provider:
      name: cloudflare
    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: &secret external-dns-secret
            key: api-token
    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --ignore-ingress-tls-spec
      - --ingress-class=external
      - --gateway-namespace=networking
      - --gateway-name=envoy-external
    triggerLoopOnEvent: true
    policy: sync
    sources: ["crd", "ingress", "gateway-httproute"]
    txtOwnerId: main
    txtPrefix: k8s.main.
    domainFilters: ["solonsstuff.com"]
    serviceMonitor:
      enabled: false
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret