---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komf
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: komga
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 6470
        runAsGroup: 6470
        fsGroup: 6470
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }


    controllers:
      komf:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: sndxr/komf
              tag: 1.7.1@sha256:4a6971a76abc30869f6d0555a7328ff8cd879f3016a7378395df331c1245cbb2
            env:
              KOMF_KOMGA_BASE_URI: http://komga.manga.svc.cluster.local:8080
              KOMF_LOG_LEVEL: INFO
            envFrom:
              - secretRef:
                  name: komf-secret
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 2000Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8085

    route:
      app:
        enabled: true
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Applications
          gethomepage.dev/name: Komf
          gethomepage.dev/icon: komga.png
          gethomepage.dev/description: Komga Metadata Analyser
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${LOCAL_DOMAIN}"
        rules:
          - backendRefs:
              - port: 8085
                name: *app

    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config

      configmap:
        type: configMap
        name: komf-configmap
        globalMounts:
          - path: /config/application.yml
            subPath: application.yml
            readOnly: true