---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app komf
  namespace: flux-system
spec:
  targetNamespace: manga
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: "./kubernetes/manga/komf/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
        optional: false