---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: reloader
  namespace: flux-system
spec:
  targetNamespace: kube-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: reflector
  interval: 10m
  path: "./kubernetes/infra/reloader/reloader/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true