apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
      annotations:
        setGateway: "true"

    spec:
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
      containers:
        - name: qbittorrent
          image: ghcr.io/home-operations/qbittorrent:5.1.3@sha256:2feb2c8d188db4de330ca4840c167282e10e3252f4c6d1bce7943c7f46099836
          user: 65534:65534
          imagePullPolicy: Always
          resources: {}
          env:
            - name: QBT_WEBUI_PORT
              value: "8080"
            - name: QBT_TORRENTING_PORT
              value: "20508"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: qbittorrent-config
              mountPath: /config
            - name: samba-volume
              mountPath: /downloads
              subPath: downloads
      volumes:
        - name: samba-volume
          nfs:
            server: 192.168.1.111
            path: /mnt/STORAGE-01/Media-Storage
        - name: qbittorrent-config
          persistentVolumeClaim:
            claimName: qbittorrent-config
