---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: qbittorrent-vpn
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: qbittorrent-vpn
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        WIREGUARD_PRIVATE_KEY: "{{ .wireguard_private_key }}"
        WIREGUARD_PRESHARED_KEY: "{{ .wireguard_preshared_key }}"
        WIREGUARD_ADDRESSES: "{{ .wireguard_addresses }}"
  dataFrom:
    - extract:
        key: qbittorrent-vpn